h1{
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}

.link{
  color: Aquamarine
  font-size: 16px;
}

#copyright{
  text-align: right;
  color: gray;
}

.description{
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.background-color{
  background-color: black;
}
